<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @descompocicione.descripcion %>
</p>

<p>
  <b>Unidad:</b>
  <%= @descompocicione.unidad %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @descompocicione.cantidad %>
</p>

<p>
  <b>Terreno:</b>
  <%= @descompocicione.terreno %>
</p>

<p>
  <b>Cantidadvales:</b>
  <%= @descompocicione.cantidadvales %>
</p>

<p>
  <b>Observacion:</b>
  <%= @descompocicione.observacion %>
</p>

<p>
  <b>Parteobra:</b>
  <%= @descompocicione.parteobra_id %>
</p>


<%= link_to 'Edit', edit_descompocicione_path(@descompocicione) %> |
<%= link_to 'Back', descompociciones_path %>
