<%= form_for(@subfase, :html => {:class => "form-horizontal"}) do |f| %>

  <% if @subfase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subfase.errors.count, "error") %> prohibited this subfase from being saved:</h2>

      <ul>
      <% @subfase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="control-label">
      <%= f.label :fase_id %>  
    </div>
    <div class="controls">
      <%= f.select :fase_id, Fase.all.collect { |x| [x.descripcion, x.id] }, {}, :class => "span5" %>      
    </div>    
  </div>  

  <div class="control-group">
    <div class="control-label">
      <%= f.label :codigo %>  
    </div>
    <div class="controls">
      <%= f.text_field :codigo, :class => "span1" %>  
    </div>   
  </div>

  <div class="control-group">
    <div class="control-label">
      <%= f.label :descripcion %>  
    </div>
    <div class="controls">
      <%= f.text_field :descripcion, :class => "span5" %>  
    </div>        
  </div>



  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => "btn" %>  
    </div>    
  </div>

<% end %>
