<div class="page-header">
	<h1>Nueva Partida de Control</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), partidasdecontrols_path, :class => "btn btn-primary" %>	
	<%= link_to raw("<i class='icon-th-list'></i> Sectores"), sectores_path, :class => "btn" %>
  	<%= link_to raw("<i class='icon-list'></i></i> Sub Sectores"), subsectores_path, :class => "btn" %>
  	<%= link_to raw("<i class='icon-th-list'></i> Fases"), fases_path, :class => "btn" %>
  	<%= link_to raw("<i class='icon-list'></i></i> Subfases"), subfases_path, :class => "btn" %>
</div>

