<%= form_for(@sectore, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @sectore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sectore.errors.count, "error") %> prohibited this sectore from being saved:</h2>

      <ul>
      <% @sectore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="control-label">
      <%= f.label :codigo %>  
    </div>
    <div class="controls">
      <%= f.text_field :codigo, :class => "span1" %>  
    </div>    
  </div>

  <div class="control-group">
    <div class="control-label">
      <%= f.label :descripcion %>  
    </div>
    <div class="controls">
      <%= f.text_field :descripcion, :class => "span6" %>  
    </div>   
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => "btn" %>  
    </div>    
  </div>

<% end %>
