<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @sectore.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @sectore.descripcion %>
</p>


<%= link_to 'Edit', edit_sectore_path(@sectore) %> |
<%= link_to 'Back', sectores_path %>
