<ul class="breadcrumb">
  <li><i class="icon-home"></i> <%= link_to "inicio", root_path %> <span>/</span></li>  
  <li class="active">Data</li>
</ul>

<div class="page-header">
    <h1>Lista de Parte de Obras</h1>    
</div>


<table class="table table-striped table-bordered">
  <tr>
    <th>#Id</th>
    <th>Frente</th>
    <th>Jefefrente</th>
    <th>Maestrodeobra</th>
    <th>Casa</th>
    <th>Subcontratista</th>
    <th>Fechaingreso</th>
    <th>Numeroparte</th>
    <th>Acciones</th>
  </tr>

<% @parteobras.each do |parteobra| %>
  <tr>
    <td><%= parteobra.id %></td>
    <td><%= parteobra.frente %></td>
    <td><%= parteobra.jefefrente %></td>
    <td><%= parteobra.maestrodeobra %></td>
    <td><%= parteobra.casa %></td>
    <td><%= parteobra.subcontratista %></td>
    <td><%= parteobra.fechaingreso.strftime("%d %b. %Y") %></td>
    <td><%= parteobra.numeroparte %></td>
        <td>
            <%= link_to raw('<i class="icon-eye-open"></i>'), parteobra, :class => "btn" %>
            <%= link_to raw('<i class="icon-edit"></i>'), edit_parteobra_path(parteobra), :class => "btn" %>
            <%= link_to raw('<i class="icon-trash"></i>'), parteobra, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
        </td>
  </tr>
<% end %>
</table>

<div class="form-actions">
    <%= link_to raw('<i class="icon-user icon-white"></i> Nuevo'), new_parteobra_path, :class => "btn btn-primary" %>    
</div>

