<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @fase.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @fase.descripcion %>
</p>


<%= link_to 'Edit', edit_fase_path(@fase) %> |
<%= link_to 'Back', fases_path %>
